<section class="checksourcepage">
    <div class="checksource-block">
        <form mathod="post" class="checksource-form" action="/checksource">
            <div class="checksource-input">
                {{!-- <input type="text" placeholder="Github link to source code..." class="checksource-link"> --}}
                <input type="text" placeholder="package name" class="checksource-name" name="package-name" required>
                <input type="text" placeholder="ecosystem" class="checksource-ecosystem" name="package-ecosystem" required>
                <input type="submit" value="" class="checksource-submit">
            </div>
            <div>
                <b>Please type name and ecosystem of open source you want to check out...</b>
            </div>
        </form>
        <div class="checksource-loading">
            <img src="/image/loadingbar.gif" alt="Không thể tải gif" autoplay muted>
        </div>

        {{!-- <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                {{!-- 70% --}}
            </div>
        </div> --}}
    </div>
</section>


