<section class="homepage">
    <div class="home-block home-left">
        <div class="thesis-name">
            <h2 class="vi-name">Phân tích động mã nguồn mở và ứng dụng học máy trong nhận biết mã độc trong mã nguồn mở</h2><br>
            <b class="en-name">Dynamic analysis of open-source package and applying machine learning for open-source malware detection</b>
            <div class="home-info">
                <i>
                    SV thực hiện: Nguyễn Thành Công - Nguyễn Xuân Quang
                </i><br>
                <i>
                    GV hướng dẫn: TS. Vũ Đức Lý - ThS. Trần Tuấn Dũng
                </i>
            </div>
            <img src="/image/uit.png" alt="Không thể tải ảnh" class="home-logo">
        </div>
    </div>
    <div class="home-block home-right">
        {{!-- <p>
            Trong việc phát triển phần mềm, việc tự xây dựng các thư viện lại từ đầu sẽ rất tốn nguồn lực và kéo dài thời gian phát triển phần mềm. Việc sử dụng các thư viện có sẵn từ các bên thứ ba (ví dụ PyPI cho python) sẽ tiết kiệm chi phí, nâng cao hiệu quả cho việc phát triển phần mềm. Các thư viện mã nguồn mở là một lựa chọn của rất nhiều lập trình viên khi phát triển phần mềm.
        </p>
        <p>
            Bên cạnh những lợi ích to lớn mà các thư viện mã nguồn mở đem lại, thì cũng tồn tại những rủi ro về bảo mật. Ví dụ, người tấn công có thể chèn các đoạn mã độc vào các thư viện mã nguồn mở trong trong một chuỗi cung ứng phát triển phần mềm, kết quả là lập trình viên sẽ trở thành nạn nhân khi sử dụng các thư viện này sẽ bị nhiễm mã độc khi sử dụng các gói phần mềm độc hại này. Một số hành vi độc hại trên máy nạn nhân có thể kể tới như đánh cắp thông tin (thông tin về hệ điều hành, token, session key v.v.) hay thực hiện các câu lệnh độc hại (command and control), reverse shell v.v. \cite{guo2023empirical}. Ngoài ra, người tấn công còn sử dụng nhiều các kỹ thuật anti-analysis khác nhau để qua mặt các công cụ dò tìm mã độc như mã hóa, làm mờ v.v. 
        </p> --}}
    </div>
</section>

{{!-- <section class="aboutpage">
    <div>
        hehe
    </div>
</section> --}}